/* Resets */
h1 {
    font-family: 'Arial';
    font-size:x-large;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Default styles */
#canvas-container {
    position: relative; /* Needed for absolute positioning inside */
    overflow: auto;
    height: 100vh; /* Adjust for the header height */
    margin: auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   /* z-index: 1; */
}



canvas {
    display: block; /* Remove extra space around the canvas */
    background-color: hsl(0, 0%, 92%); /* Optional: for visibility */
    z-index: 1;
    border: 1px solid rgb(239, 191, 191);
}

#mobilePlayButton {
    display: none; /* Initially hidden */
    /* Other styling as needed */
}


#button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#uploadButton, #aboutButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* Spacing between buttons */
}

#uploadButton img, #aboutButton img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
/* Popup Window Styles */
/* Style for the popup window */
.popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 60vw; /* Adjust width as needed */
    height: 60vh; /* Adjust height as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block; /* Ensure it's displayed */
    z-index: 3;
    overflow: hidden; /* Hide overflow */
}

/* Style for the popup content */
.popup-content {
    overflow-y: auto; /* Allow vertical scrolling */
    height: 100%; /* Full height of the popup window */
    padding-right: 20px; /* Space between text and scrollbar */
    font-family: Arial, sans-serif; /* Arial font */
    font-size: large; /* Larger font size */
    line-height: 1.5; /* Adjust line spacing */
}

.popup-content p, .popup-content h1 {
    font-weight: normal; 
}

.popup-content img {
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100%; /* Ensure image does not exceed container width */
}


/* Webkit browsers such as Chrome, Safari */
.popup-content::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */

}

.popup-content::-webkit-scrollbar-track {
    background: lightgray; /* Background of the track */
    border-radius: 6px; /* Rounded corners for the track */
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: darkgray; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* Firefox */
.popup-content {
    scrollbar-width: thin; /* 'auto' or 'thin' are also options */
    scrollbar-color: darkgray lightgray; /* Thumb and track color */
}

.hidden {
    display: none;
}

/* Style for the popup wrapper */
#popupWrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Higher z-index to ensure it's above the popup */
}

/* Style for the popup container */
#popupContainer {
    width: 80%; /* Increased width */
    max-width: 500px; /* Larger maximum width */
    height: 80%; /* Increased height */
    max-height: 500px; /* Larger maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 5px; /* Smaller border radius */
    font-family: Arial, sans-serif; /* Arial font */
    border: 1px solid black;
    /* Other styles remain the same */
}

/* Style for the close button */
#closePopup {
    position: absolute;
    top: 5px; /* Adjust as necessary */
    right: 70px; /* Adjust as necessary */
    font-size: 30px; /* Size of the cross */
    color: black; /* Color of the cross */
    background-color: white; /* Background of the button */
    border-radius: 10px; /* Circle shape */
    padding: 2px;
    cursor: pointer;
}

/* Style for the popup content */
#popupContent {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style for GIFs inside the popup */
#popupContent img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Space between GIFs */
}

/* Style for the welcome message */
#popupContent .welcome-message {
    text-align: center; /* Center-align the text */
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Optional: if you want the text to be bold */
    margin-top: 10px; /* Spacing at the top */
    margin-bottom: 20px; /* Spacing at the bottom */
}

#popupContent .instruction-text {
    margin-bottom: 5px; /* Reduce space below the paragraph */
}

#popupContent img {
    margin-top: 5px; /* Reduce space above the GIF */
}
#popupContent .clickable-logo {
    display: block; /* Or inline-block, depending on your layout */
    margin: -12px auto; /* Center the logo and add some margin */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    width: 270px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Webkit Browsers (Chrome, Safari) */
#popupContainer::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

#popupContainer::-webkit-scrollbar-track {
    background: rgb(229, 229, 229); /* Background of the track */
    border-radius: 6px; /* Optional: to have rounded corners */
}

#popupContainer::-webkit-scrollbar-thumb {
    background-color: darkgray; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* Firefox */
#popupContainer {
    scrollbar-width: thin; /* 'auto', 'thin', or 'none' */
    scrollbar-color: darkgray lightgray; /* Thumb and track color */
}

/* Style for the popup wrapper's scrollbar */
#popupWrapper::-webkit-scrollbar {
    width: 16px; /* Thicker scrollbar for visibility */
}

#popupWrapper::-webkit-scrollbar-track {
    background: lightgray; /* Track color */
    border-radius: 8px; /* Smooth rounded corners for the track */
}

#popupWrapper::-webkit-scrollbar-thumb {
    background-color: darkgray; /* Thumb color */
    border-radius: 8px; /* Smooth rounded corners for the thumb */
    border: 3px solid lightgray; /* Border for the thumb */
}

/* Firefox scrollbar styles */
#popupWrapper {
    scrollbar-width: thick; /* Thicker scrollbar in Firefox */
    scrollbar-color: darkgray lightgray; /* Thumb and track color */
}

/* Ensuring the scrollbar is always visible on mobile */
@media screen and (max-width: 768px) {
    #popupWrapper {
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
        overflow-y: scroll; /* Force scrollbar to be visible */
         width: 16px; /* Thicker scrollbar for visibility */
        
    }
}

/* Responsive adjustments for smaller screens, e.g., mobile devices */
@media screen and (max-width: 600px) {
    #popupContainer {
        width: 40vh; /* Adjust width for smaller screens */
        max-width: none; /* Allow it to grow as wide as 90% of the screen */
        height: auto; /* Let the height be determined by the content */
        max-height: 60vh; /* Limit the maximum height */
    }

    /* Adjust the close button position for mobile */
    #closePopup {
        top: 5px; /* Adjust as necessary */
        right: 18px; /* Adjust as necessary */
    }
}


@media only screen and (min-width: 768px) { /* Adjust the breakpoint as needed */
    #zoom-container {
        display: none;
    }

    #zoom-container {
        position: fixed; /* Adjust as needed */
        bottom: 10px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        z-index: 10; /* Above the canvas */
    }
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    html, body, #canvas-container {
        height: 100vh;
        width: 100vw;
        position: relative;
        overflow: auto;
    }

    #canvas {
        position: absolute;
       left: 0;
       top: 0;
        
    }

    #button-container {
        position: fixed;
        top: 50%; /* Vertically center */
        left: 10px; /* 10px from the left edge */
        transform: translateY(-50%); /* Offset for exact vertical centering */

        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    #aboutButton, #uploadButton {
        margin-bottom: 10px; /* Spacing between buttons */
    }


    #zoom-container {
        position: fixed; /* Adjust as needed */
        bottom: 25px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        z-index: 10; /* Above the canvas */
    }
    
    /* Restyling the zoom slider to be white */
    #zoom-slider {
        -webkit-appearance: none;
        appearance: none;
        width: 200px; /* Adjust as needed */
        height: 10px;
        background: white; /* Slider background */
        cursor: pointer;
        border: 1px solid black;
    }

    #zoom-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #dcdcdc; /* Adjust thumb color as needed */
        cursor: pointer;
        border-radius: 0;
        border: 2px solid black;
    }

    #zoom-slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #ffffff;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 50px;
    }



    
}
