/* Resets */
h1 {
    font-family: 'Arial';
    font-size: medium;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Default styles */
#canvas-container {
    position: relative; /* Needed for absolute positioning inside */
    overflow: auto;
    height: 100vh; /* Adjust for the header height */
    margin: auto;
    overflow: auto;
   /* z-index: 1; */
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) { /* Adjust max-width as needed for your target mobile devices */
    
    #canvas-container {
        height: calc(100vh - 60px);
    }


    #mobilePlayButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        font-size: 16px; /* Adjust as needed */
        padding: 15px 30px; /* Adjust for size */
        border: none;
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the button */
        text-transform: uppercase; /* Uppercase text */
        font-weight: bold; /* Bold font */
    }

    /* Hide the button initially */
    #mobilePlayButton {
        display: none;
    }
}

canvas {
    display: block; /* Remove extra space around the canvas */
    background-color: hsl(180, 11%, 96%); /* Optional: for visibility */
    z-index: 1;
}



#button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#uploadButton, #aboutButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* Spacing between buttons */
}

#uploadButton img, #aboutButton img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
/* Popup Window Styles */
.popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 80vw;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block; /* Start hidden */
    z-index: 3;
}

.popup-content {
    overflow-y: auto;
    height: 100%;
}

.hidden {
    display: none;
}

#introVideo {
    height: 70vh; /* Set video height */
    width: auto; /* Adjust width to maintain aspect ratio */
    position: relative; /* Needed for absolute positioning */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none; /* Start hidden */
}
#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3px solid black; /* Thick black border */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: none; /* Initially hidden */
}

/* Adjust the size and position of the video container */
#videoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
